---
layout: splash
permalink: /
date: 2018-03-01T00:00:00-00:00
header:
  overlay_color: "#864D2C"
excerpt: "Open Data Kit began with a vision to make open-source mobile data collection software for resource-limited settings. Over the last 13 years, the project has produced two tool suites, [ODK](https://getodk.org) and [ODK-X](https://odk-x.org), that have helped make the world a better place. <br><br>Although ODK and ODK-X share a long history, they have evolved into separate projects run by separate teams. For that reason, we are retiring the “Open Data Kit” brand and this website in favor of the ones below. Please update your bookmarks."
intro:
- excerpt: ""
feature_row:
  - image_path: /assets/images/odk-logo.png
    alt: "ODK"
    title: ""
    excerpt: "ODK helps millions of people collect data quickly, accurately, offline, and at scale. It's the standard for offline data collection and trusted by organizations like World Health Organization, Red Cross, Carter Center, CGIAR, Google, and many more."
    url: "https://getodk.org"
    btn_label: "getodk.org"
    btn_class: "btn--tool-link"
  - image_path: /assets/images/odk-x-logo.png
    alt: "ODK-X"
    title: ""
    excerpt: "The ODK-X suite supports complex workflows via JavaScript customization and features non-sequential navigation, bi-directional synchronization, and on-device data management."
    url: "https://odk-x.org"
    btn_label: "odk-x.org"
    btn_class: "btn--tool-link"
---
<!-- kramdown link button used at end of `feature_row2:excerpt` because with `url` + `btn_label` values the entire feature block becomes a link -->

<!--{% include feature_row id="intro" type="center" %}-->

{% include feature_row %}

<!--{% include feature_row id="feature_row2" type="left" %}-->
