---
layout: splash
permalink: /
date: 2018-03-01T00:00:00-00:00
header:
  overlay_color: "#864D2C"
excerpt: "The **Open Data Kit** project was started to make **mobile data collection tools for resource-limited settings**. Over the last 13 years, the project has produced **two tool suites** (**ODK**, **ODK-X**), and in the process, has become home to **a large community of users, implementers and developers**.<br><br>To continue to build the data collection community that has grown with the tool suites, we are retiring the use of the “Open Data Kit” brand and forming a new umbrella organization, The Data Software for Social Good Initiative.<br><br>The new initiative aims to expand collaboration among the data-driven tools for social good ecosystem, and welcome a diverse set of member projects.<br><br>Visit [The Data Software for Social Good Initiative](https://dsfsg.org)."
intro:
- excerpt: ""
feature_row:
  - image_path: /assets/images/odk-logo.png
    alt: "ODK"
    title: ""
    excerpt: "ODK is free-and open-source software that helps millions of people collect data quickly, accurately, offline, and at scale. The software is in active use in every country in the world and is supported by a large and helpful community."
    url: "https://getodk.org"
    btn_label: "getodk.org"
    btn_class: "btn--tool-link"
  - image_path: /assets/images/odk-x-logo.png
    alt: "ODK-X"
    title: ""
    excerpt: "The ODK-X suite supports complex workflows via JavaScript customization and features non-sequential navigation, bi-directional synchronization, and on-device data management."
    url: "https://odk-x.org"
    btn_label: "odk-x.org"
    btn_class: "btn--tool-link"
---
<!-- kramdown link button used at end of `feature_row2:excerpt` because with `url` + `btn_label` values the entire feature block becomes a link -->

<!--{% include feature_row id="intro" type="center" %}-->

{% include feature_row %}

<!--{% include feature_row id="feature_row2" type="left" %}-->
